<!DOCTYPE html>
<html lang="ko">
  {% include 'head.html' %}
    <body>    
    <main class="container">
        {% include 'center.html' %}
        <div id="room__container">
            <section id="members__container">
                <div id="appName_room">
                    <h1>S-Class</h1>
                </div>
            <div id="members__header">
                <p>참여자 목록</p>
                <strong id="members__count">0</strong>
            </div>

            <div id="member__list">
            </div>

            </section>
            <section id="stream__container">
                <div id="sample__map"> <!-- 맵 이미지 -->
                    <div id="stream__box"></div> <!-- 스트림 박스 (분홍 박스) -->
                </div>

                <div id="streams__container">
                    <!--div class="video__container" id="user-container-1">
                    </div-->
                </div>
            </section>
            
            

            <section id="messages__container">

                <div id="messages">
                    <div class="message__wrapper">
                    </div>
                </div>

                <form id="message__form">
                    <input type="text" name="message" placeholder="Send a message..." />
                </form>

            </section>
        </div>
    </main>
</body>
</html>